* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}
/* banner-section start */
.banner-section {
    display: flex;
    align-items: center;
    height: 75vh;
    width: 50%;
}

.banner-left-side h1 {
    font-size: 50px;
    width: 450px;
    line-height: 60px;
    margin-bottom: 20px;
}

.banner-left-side p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    margin-bottom: 20px;
}

.btn-1 {
    padding: 15px 40px;
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: #fff;
}

.btn-1:hover {
    color: #000;
    background-color: yellowgreen;
    cursor: pointer;
}

.banner-right-side img {
    width: 350px;
    margin-left: 280px;
    margin-top: 0px;
    transform: translateY(30px);
}
/* banner-section end */

/* featured section start */
.text-section {
    text-align: center;
    margin-top: 70px;
}

.text-section h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.text-section p {
    width: 470px;
    margin: auto;
}

.image-section {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    height: 70vh;
}
.featured-section {
    text-align: center;
}

.image-section h6 {
    margin-top: 20px;
    text-decoration: underline;
    color: grey;
    font-size: 15px;
}

.pink-flower1 img{
    width: 250px;
    background-color: #f2dee7;
    padding: 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pink-flower1 img:hover {
    box-shadow: 6px 8px 8px red;
}

.pink-flower2 img{
    width: 300px;
    background-color: #d9eff1;
    padding: 10px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pink-flower2 img:hover {
    box-shadow: 12px 8px 8px yellowgreen;
}

.pink-flower3 img {
    width: 210px;
    background-color: #e3ebdb;
    padding: 8px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pink-flower3 img:hover {
    box-shadow: 6px 8px 8px red;
}
/* featured section end */

/* support-section start */
.support-section {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #f4f4f4;
    padding: 30px 60px;
    margin-bottom: 50px;
}

.day img {
    width: 30px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.day p {
    font-size: 15px;
    margin-left: 25px;
}

.fresh img {
    width: 30px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.fresh p {
    font-size: 15px;
    margin-left: 25px;
}

.support img {
    width: 30px;
    margin-left: 80px;
    margin-bottom: 15px;
    
}

.support p {
    font-size: 15px;
    margin-left: 25px;
}
/* support-section end */

/* Hot-deal section start */
.deal {
    height: 80vh;
}

.hot-deal {
    display: flex;
    align-items: center;
}
.left-side {
    text-align: center;
    margin: 120px;
}

.left-side h3 {
    color: #272727;
    font-size: 30px;
    margin-bottom: 25px;
}

.left-side p {
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 20px;
}

.right-side img {
    width: 250px;
}

.btn-2 {
    padding: 15px 40px;
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: #fff;
}

.btn-2:hover {
    color: #000;
    background-color: yellowgreen; 
    cursor: pointer;
}
/* Hot-deal section end */

/* social-meadia section start*/
.social-meadia-text {
    text-align: center;
}

.social-meadia-text h4 {
    font-size: 25px;
    margin-bottom: 10px;
    font-style: italic;
    color: #E55473;
}

.social-meadia-text  p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    margin-bottom: 20px;
}

.social-img img {
    width: 200px;
    margin: 20px;
    padding-bottom: 100px;
}

.social-img {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
/* social-meadia section end*/

/* input-section start */
.input-text h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
    color: #272727;
}

.input-text p {
    text-align: center;
    font-size: 10px;
    margin-bottom: 15px;
}

.input input{
    width: 800px;
    margin-left: 130px;
    margin-bottom: 50px;
    padding: 10px;
    margin-right: 10px;
}

.btn-3 {
    padding: 14px 30px;
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: #fff;
}

.btn-3:hover {
    color: #000;
    background-color: yellowgreen;
    color: #000;
    cursor: pointer; 
}
/* input-section end */

/* footer-section start */
.last-part {
    text-align: center;
    margin-bottom: 60px;
    transform: translateY(60px);
}

.last-part p {
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 20px;
}

.logo {
    margin-bottom: 20px;
    color: #d9eff1;
}

.logo span {
    color: #E55473;
}

.logo:hover {
    color: #E55473;
    cursor: pointer;
}

small {
    color: gray;
    font-size: 10px;
}

footer {
    background-color: #000;
    padding: 50px;
}

/* footer-section end */

